button {
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    border: 2px solid white;
    border-radius: 4px;
}

#clear-settings-button {
    background: #d92323;
}

input {
    border-radius: 2px;
    border: 1px solid silver;
    padding: 5px;
    margin-right: 2px;
}
.new-option {
    background: #238923;
}
.delete-option-button {
    background: #d92323;
}

.site-options {
    padding-left: 20px;
}

input.has-error {
    background: pink;
}

.settings, .about {
    padding: 10px;
    width: 600px;
}

h1 {
    border-bottom: 1px solid silver;
    padding: 10px;
    margin-bottom: 30px;
}

.container {
    margin: 0 auto;
    width: 650px;
}
